html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #fff;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  background-color: #222;
  border-bottom: 1px solid #000;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header h1 {
  color: #fff;
  font-size: 2rem;
  padding: 0;
}

.header img {
  width: 30px;
  margin: 0 1rem;
  padding: 0;
}

.buttons {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  border-top: 1px solid #000;
}

.btn {
  padding: .4rem 0;
  display: block;
  text-align: center;
}

.buttons li {
  flex-basis: 33.333%;
}

.buttons a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.mid {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.img-flex {
  display: block;
  width: 100%;
}

.content h2 {
  display: inline;
  font-size: 3rem;
  color: #fff;
  line-height: 3.5rem;
  background-color: rgba(100, 100, 100, .3);
}

.content p {
  padding: 0;
  margin: 1rem 0 0;
  font-size: 2rem;
}

.banner {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  left: 50%;
  transform: translate(-50%);
  margin: 0 .5rem;
  padding: 0 1rem;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  max-width: 50em;
}

.caption {
  display: block;
  margin: 0;
  padding: 0 1rem;
  background-color: #fff;
  color: #333;
}

.cards {
  margin: 0;
  padding: 1.5rem 0 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 15em;
  padding: 1em;
  background-color: #eee;
  border-radius: 10px;
  text-align: left;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
  border: 1px solid #777;
  width: 100%;
}

.cards strong {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.cards dl {
  margin-bottom: 1rem;
}

.cards dt {
  display: inline-block;
  width: 4.5em;
}

.cards dd {
  display: inline-block;
  margin: 0;
  min-width: 4em;
  font-size: .75rem;
  font-style: italic;
  color: #333;
}

.cards dd:first-of-type {
  font-size: 1rem;
  min-width: 6em;
  font-style: normal;
  color: #000;
}

.cards div {
  text-align: center;
}

.link {
  text-align: right;
}

.cards a {
  display: inline-block;
  padding: .25em .5em;
  background-color: #eee;
  border-radius: 5px;
  color: #000;
  font-size: .75;
  font-style: italic;
  text-transform: lowercase;
  border: 2px solid #bbb;
  text-decoration: none;
}

.cards a:hover {
  background-color: #bbb;
  color: #fff;
}

.footer {
  background-color: #222;
  font-size: .75rem;
  text-align: left;
  padding: .75em .75em .3em;
}

.footer small {
  font-size: .75rem;
  color: #fff;
}

.footer h2 {
  margin-top: 0;
  color: #fff;
  text-transform: uppercase;
  padding-right: 1.5rem;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 0;
  list-style-type: none;
}

.footer a {
  color: #fff;
}

.links {
  padding: 0 1rem;
  display: inline-flex;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.social {
  margin: .75rem;
  padding: 0 1rem;
  display: flex;
}

.social > li {
  margin: 0 .5em;
  width: 3em;
}

.social > li:first-of-type {
  width: 15em;
}

.social h3 {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.social img {
  width: 25px;
}

.copyright {
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}
